body {
  background: url('./bg.jpg');
  background-size: cover;
  height: 100%;
}

.frame {
  color: white;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.frame .btn-group {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.frame .btn-group .btn {
  font-size: 20px;
  margin-top: 10px;
  position: relative;
  padding: 10px 20px;
  border-radius: 25px;
  color: white;
}

.frame .btn-group .btn-yes {
  width: 200px;
  background: #06d6a0;
  border: 1px solid #06d6a0;
}

.frame .btn-group .btn-no {
  width: 200px;
  background: #ef233c;
  border: 1px solid #ef233c;
}